.state-container {
	position:relative;
}

/************** state 1 ***********************/

.state-1-intro {
	padding:20px;	
}
.state-1-search-options {
}
.state-1-search-results {
	height:0px;
	overflow:hidden;	
	border:0px;	
}

.state-1-addcustom, .state-2-addcustom {
	height:0px;
	overflow:hidden;
	padding:0px;
	border:0px;
}

.state-1-leftcol {
	width:100%;
}
.state-1-rightcol {
	opacity:0;
	height:0px;
	overflow:hidden; 
	margin:0px;
}

 .state-2-leftcol, .state-12-rightcol, .state-3-leftcol, .state-3-rightcol {
	padding:2px;	
}


/************** state 2 ***********************/
 .state-2-search-results {
	opacity:1 
 }
.state-2-search-options, .state-2-rightcol {
	opacity:0;
	height:0px;
	overflow:hidden; 
	margin:0px;
}

.state-2-intro, .state-3-intro {
	height:0px;
	overflow:hidden;	
}
.state-2-search-options, .state-3-search-options, .state-3-search-results  {
	opacity:0;
}
.state-2-search-results {
	height:auto;	
}

/************** state 3 ***********************/

.state-3-search-options, .state-3-search-results, .state-3-leftcol {
	opacity:0;
	height:0px;
	overflow:hidden; 
	margin:0px;
}

.state-3-addcustom {
	height:auto;
}

.state-3-rightcol {	
	opacity:100%;
}




